* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Supreme', sans-serif;
}

@font-face {
  font-family: "Supreme";
  src: local("Supreme"), url(./fonts/Supreme-Regular.otf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Supreme";
  src: local("Supreme"), url(./fonts/Supreme-Bold.otf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Supreme";
  src: local("Supreme"), url(./fonts/Supreme-Extrabold.otf) format("truetype");
  font-weight: 800;
}

